 .u-section-1 {
  background-image: url("images/S__2580496.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1108px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1251px;
}

.u-section-2 .u-text-1 {
  width: 707px;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px);
  min-height: 915px;
  grid-gap: 25px 25px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 3px 20px;
}

.u-section-2 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 3px 20px;
}

.u-section-2 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 3px 20px;
}

.u-section-2 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 3px 20px;
}

.u-section-2 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-5 {
  padding: 3px 20px;
}

.u-section-2 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-11 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-6 {
  padding: 3px 20px;
}

.u-section-2 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-13 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-7 {
  padding: 3px 20px;
}

.u-section-2 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-15 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-8 {
  padding: 3px 20px;
}

.u-section-2 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-17 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-9 {
  padding: 3px 20px;
}

.u-section-2 .u-image-9 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-19 {
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-10 {
  padding: 3px 20px;
}

.u-section-2 .u-image-10 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  font-size: 1.125rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-21 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-2 .u-image-1 {
    height: 154px;
  }

  .u-section-2 .u-image-2 {
    height: 154px;
  }

  .u-section-2 .u-text-5 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-3 {
    height: 154px;
  }

  .u-section-2 .u-text-7 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-4 {
    height: 154px;
  }

  .u-section-2 .u-text-9 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-5 {
    height: 154px;
  }

  .u-section-2 .u-text-11 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-6 {
    height: 154px;
  }

  .u-section-2 .u-text-13 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-7 {
    height: 154px;
  }

  .u-section-2 .u-text-15 {
    font-style: normal;
    font-weight: normal;
  }

  .u-section-2 .u-image-8 {
    height: 154px;
  }

  .u-section-2 .u-text-17 {
    font-style: normal;
  }

  .u-section-2 .u-image-9 {
    height: 154px;
  }

  .u-section-2 .u-text-19 {
    font-style: normal;
  }

  .u-section-2 .u-image-10 {
    height: 154px;
  }

  .u-section-2 .u-text-21 {
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
    min-height: 2152px;
  }

  .u-section-2 .u-image-1 {
    height: 208px;
  }

  .u-section-2 .u-image-2 {
    height: 208px;
  }

  .u-section-2 .u-image-3 {
    height: 208px;
  }

  .u-section-2 .u-image-4 {
    height: 208px;
  }

  .u-section-2 .u-image-5 {
    height: 208px;
  }

  .u-section-2 .u-image-6 {
    height: 208px;
  }

  .u-section-2 .u-image-7 {
    height: 208px;
  }

  .u-section-2 .u-image-8 {
    height: 208px;
  }

  .u-section-2 .u-image-9 {
    height: 208px;
  }

  .u-section-2 .u-image-10 {
    height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-2 .u-image-1 {
    height: 260px;
  }

  .u-section-2 .u-image-2 {
    height: 260px;
  }

  .u-section-2 .u-image-3 {
    height: 260px;
  }

  .u-section-2 .u-image-4 {
    height: 260px;
  }

  .u-section-2 .u-image-5 {
    height: 260px;
  }

  .u-section-2 .u-image-6 {
    height: 260px;
  }

  .u-section-2 .u-image-7 {
    height: 260px;
  }

  .u-section-2 .u-image-8 {
    height: 260px;
  }

  .u-section-2 .u-image-9 {
    height: 260px;
  }

  .u-section-2 .u-image-10 {
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 264px;
  }

  .u-section-2 .u-image-2 {
    height: 264px;
  }

  .u-section-2 .u-image-3 {
    height: 264px;
  }

  .u-section-2 .u-image-4 {
    height: 264px;
  }

  .u-section-2 .u-image-5 {
    height: 264px;
  }

  .u-section-2 .u-image-6 {
    height: 264px;
  }

  .u-section-2 .u-image-7 {
    height: 264px;
  }

  .u-section-2 .u-image-8 {
    height: 264px;
  }

  .u-section-2 .u-image-9 {
    height: 264px;
  }

  .u-section-2 .u-image-10 {
    height: 264px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1251px;
}

.u-section-3 .u-list-1 {
  margin-top: -106px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px);
  min-height: 976px;
  grid-gap: 25px 25px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 3px 20px;
}

.u-section-3 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 20px;
}

.u-section-3 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 3px 20px;
}

.u-section-3 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-4 {
  padding: 3px 20px;
}

.u-section-3 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-5 {
  padding: 3px 20px;
}

.u-section-3 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-6 {
  padding: 3px 20px;
}

.u-section-3 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-7 {
  padding: 3px 20px;
}

.u-section-3 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-8 {
  padding: 3px 20px;
}

.u-section-3 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-16 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-9 {
  padding: 3px 20px;
}

.u-section-3 .u-image-9 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-18 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-10 {
  padding: 3px 20px;
}

.u-section-3 .u-image-10 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-19 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-20 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-3 .u-image-1 {
    height: 154px;
  }

  .u-section-3 .u-image-2 {
    height: 154px;
  }

  .u-section-3 .u-image-3 {
    height: 154px;
  }

  .u-section-3 .u-image-4 {
    height: 154px;
  }

  .u-section-3 .u-image-5 {
    height: 154px;
  }

  .u-section-3 .u-image-6 {
    height: 154px;
  }

  .u-section-3 .u-image-7 {
    height: 154px;
  }

  .u-section-3 .u-image-8 {
    height: 154px;
  }

  .u-section-3 .u-image-9 {
    height: 154px;
  }

  .u-section-3 .u-image-10 {
    height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
    min-height: 2152px;
  }

  .u-section-3 .u-image-1 {
    height: 208px;
  }

  .u-section-3 .u-image-2 {
    height: 208px;
  }

  .u-section-3 .u-image-3 {
    height: 208px;
  }

  .u-section-3 .u-image-4 {
    height: 208px;
  }

  .u-section-3 .u-image-5 {
    height: 208px;
  }

  .u-section-3 .u-image-6 {
    height: 208px;
  }

  .u-section-3 .u-image-7 {
    height: 208px;
  }

  .u-section-3 .u-image-8 {
    height: 208px;
  }

  .u-section-3 .u-image-9 {
    height: 208px;
  }

  .u-section-3 .u-image-10 {
    height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 149px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-3 .u-image-1 {
    height: 260px;
  }

  .u-section-3 .u-image-2 {
    height: 260px;
  }

  .u-section-3 .u-image-3 {
    height: 260px;
  }

  .u-section-3 .u-image-4 {
    height: 260px;
  }

  .u-section-3 .u-image-5 {
    height: 260px;
  }

  .u-section-3 .u-image-6 {
    height: 260px;
  }

  .u-section-3 .u-image-7 {
    height: 260px;
  }

  .u-section-3 .u-image-8 {
    height: 260px;
  }

  .u-section-3 .u-image-9 {
    height: 260px;
  }

  .u-section-3 .u-image-10 {
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 143px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 264px;
  }

  .u-section-3 .u-image-2 {
    height: 264px;
  }

  .u-section-3 .u-image-3 {
    height: 264px;
  }

  .u-section-3 .u-image-4 {
    height: 264px;
  }

  .u-section-3 .u-image-5 {
    height: 264px;
  }

  .u-section-3 .u-image-6 {
    height: 264px;
  }

  .u-section-3 .u-image-7 {
    height: 264px;
  }

  .u-section-3 .u-image-8 {
    height: 264px;
  }

  .u-section-3 .u-image-9 {
    height: 264px;
  }

  .u-section-3 .u-image-10 {
    height: 264px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1251px;
}

.u-section-4 .u-list-1 {
  margin-top: -357px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px) calc(20% - 20px);
  min-height: 981px;
  grid-gap: 25px 25px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-1 {
  padding: 3px 20px;
}

.u-section-4 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 20px;
}

.u-section-4 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-3 {
  padding: 3px 20px;
}

.u-section-4 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-4 {
  padding: 3px 20px;
}

.u-section-4 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-5 {
  padding: 3px 20px;
}

.u-section-4 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-6 {
  padding: 3px 20px;
}

.u-section-4 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-7 {
  padding: 3px 20px;
}

.u-section-4 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-8 {
  padding: 3px 20px;
}

.u-section-4 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-16 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-9 {
  padding: 3px 20px;
}

.u-section-4 .u-image-9 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-18 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-10 {
  padding: 3px 20px;
}

.u-section-4 .u-image-10 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-19 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-20 {
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-list-2 {
  width: 670px;
  margin: 24px auto 60px;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 521px;
  grid-gap: 25px 25px;
}

.u-section-4 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-11 {
  padding: 3px 20px;
}

.u-section-4 .u-image-11 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-21 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-4 .u-btn-11 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-22 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-12 {
  padding: 3px 20px;
}

.u-section-4 .u-image-12 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-23 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-4 .u-btn-12 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-24 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-13 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-13 {
  padding: 3px 20px;
}

.u-section-4 .u-image-13 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-25 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-4 .u-btn-13 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-4 .u-text-26 {
  font-style: italic;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-4 .u-image-1 {
    height: 154px;
  }

  .u-section-4 .u-image-2 {
    height: 154px;
  }

  .u-section-4 .u-image-3 {
    height: 154px;
  }

  .u-section-4 .u-image-4 {
    height: 154px;
  }

  .u-section-4 .u-image-5 {
    height: 154px;
  }

  .u-section-4 .u-image-6 {
    height: 154px;
  }

  .u-section-4 .u-image-7 {
    height: 154px;
  }

  .u-section-4 .u-image-8 {
    height: 154px;
  }

  .u-section-4 .u-image-9 {
    height: 154px;
  }

  .u-section-4 .u-image-10 {
    height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
    min-height: 2152px;
  }

  .u-section-4 .u-image-1 {
    height: 208px;
  }

  .u-section-4 .u-image-2 {
    height: 208px;
  }

  .u-section-4 .u-image-3 {
    height: 208px;
  }

  .u-section-4 .u-image-4 {
    height: 208px;
  }

  .u-section-4 .u-image-5 {
    height: 208px;
  }

  .u-section-4 .u-image-6 {
    height: 208px;
  }

  .u-section-4 .u-image-7 {
    height: 208px;
  }

  .u-section-4 .u-image-8 {
    height: 208px;
  }

  .u-section-4 .u-image-9 {
    height: 208px;
  }

  .u-section-4 .u-image-10 {
    height: 208px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    min-height: 1651px;
  }

  .u-section-4 .u-image-11 {
    height: 314px;
  }

  .u-section-4 .u-image-12 {
    height: 314px;
  }

  .u-section-4 .u-image-13 {
    height: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-4 .u-image-1 {
    height: 260px;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
  }

  .u-section-4 .u-image-4 {
    height: 260px;
  }

  .u-section-4 .u-image-5 {
    height: 260px;
  }

  .u-section-4 .u-image-6 {
    height: 260px;
  }

  .u-section-4 .u-image-7 {
    height: 260px;
  }

  .u-section-4 .u-image-8 {
    height: 260px;
  }

  .u-section-4 .u-image-9 {
    height: 260px;
  }

  .u-section-4 .u-image-10 {
    height: 260px;
  }

  .u-section-4 .u-list-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-11 {
    height: 553px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-12 {
    height: 553px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-13 {
    height: 553px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 264px;
  }

  .u-section-4 .u-image-2 {
    height: 264px;
  }

  .u-section-4 .u-image-3 {
    height: 264px;
  }

  .u-section-4 .u-image-4 {
    height: 264px;
  }

  .u-section-4 .u-image-5 {
    height: 264px;
  }

  .u-section-4 .u-image-6 {
    height: 264px;
  }

  .u-section-4 .u-image-7 {
    height: 264px;
  }

  .u-section-4 .u-image-8 {
    height: 264px;
  }

  .u-section-4 .u-image-9 {
    height: 264px;
  }

  .u-section-4 .u-image-10 {
    height: 264px;
  }

  .u-section-4 .u-list-2 {
    width: 340px;
  }

  .u-section-4 .u-image-11 {
    height: 340px;
  }

  .u-section-4 .u-image-12 {
    height: 340px;
  }

  .u-section-4 .u-image-13 {
    height: 340px;
  }
}